* {
    box-sizing: border-box;
}

body{
    background-image: url("../img/bg-image.png");
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size: cover;
    min-height: 100%;

}
.navbar-brand{
    position: relative;
    left: 36px;
    font-size: 5.3vh;
}
#navbarNav{
    position: absolute;
    right: 60px;
    font-size: 1.2rem;
}

#navbarNav ul li{
    display: inline-block; /* Makes list items display horizontally */
    margin-right: 15px;
}

.home-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#home-image{
    background-image: url(../img/fit-logo.jpg);
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}




