

/* Section Background & Container */
.features-section {
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),center/cover no-repeat;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    overflow: hidden;
    height: 96vh;
    margin-top: 152px;
}

.f-container{
    height: calc(100vh - 88px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vw;
    padding-left: 5vw;
}

/* Intro Paragraph */
#tit{
    width: 800px;
}
.features-section .intro-text {
    margin: 0 auto 60px;
    font-size: 2.1rem;
    line-height: 1.6;
    color: #f0f0f0;
    width: 77%;
    text-align: justify;
}

/* Features Grid */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    position:  relative;
    top: -10px;
}





/* Individual Card */
.feature {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 13px 20px;
    backdrop-filter: blur(10px);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: default;
    width: 34vh;
    height: 26vh;
}

/* Hover Animation */
.feature:hover {
    transform: translate(-10px) !important;
    box-shadow: 0 20px 40px rgba(49, 5, 5, 0.5);
}

/* Icon Styling */
.feature i {
    font-size: 2.5rem;
    color: #ff7a5c; /* accent color */
    margin-bottom: 20px;
}

/* Title & Text */
.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
    line-height: 1.5;
    color: #ddd;
}

/* Responsive Adjustments */
@media (max-width: 550px) {
    .features-section {
        padding: 60px 15px;
        height: -webkit-fill-available;
    }

    .feature {
        padding: 30px 15px;
    }

    #tit{
        width: 100%;
    }

    .features-section .intro-text {
        margin: 0 auto 60px;
        font-size: 1.3rem;
        line-height: 1.6;
        color: #f0f0f0;
        text-align: start;
        margin-left: 18px;
        width: 100%;
    }

    .f-container {
        height: -webkit-fill-available;
        display: flex;
        flex-direction: column;
    }
}
