body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body{
    background-image: url("../img/login.avif");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: -1;
}


.form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    align-content: center;
}

#logo-name{
    position: absolute;
    z-index: 2;
    color: aliceblue;
    left: auto;
    left: 120px;
    font-size: 2.5rem;
    font-family: cursive;
}

/*.image-side {*/
/*    flex: 1;*/
/*    background-image: url('/img/fitness-login.jpg');*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/

/*.image-overlay {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));*/
/*}*/

.auth-side {
    width: 50%;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.auth-side-container {
    background: rgb(21 13 17 / 55%);
    padding: 65px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    line-height: 10px;
    margin-top: 43px;
    color: white;

}

#formTitle{
    margin-bottom: 34px;
}

#login-box h2 {
    margin-bottom: 20px;
}

#login-box form,#register-box form {
    display: flex;
    flex-direction: column;
}


#login-box input {
    margin-bottom: 19px;
    padding: 10px;
    font-size: 14px;
}

#register-box input {
    margin-bottom: 19px;
    padding: 10px;
    font-size: 14px;
}


#login-box button {
    padding: 10px;
    font-size: 16px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 1px 0 34px 0px;
}

#register-box button {
    PADDING: 10px;
    font-size: 16px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 22px 0 34px 0px;
}

.hidden{
    display: none;
}


