.switch {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.switch input {
    display: none;
}

.slider {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider::before {
    transform: translateX(25px);
}

.switch-label {
    font-weight: bold;
}

.spinner-border{
    width: 1.7rem !important;
    height: 1.7rem !important;
}
