<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auth Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/toggleSlider.css}">
    <script th:src="@{/js/toggle.js}"></script>
</head>

<body>
<div class="form-container">

    <h1 id="logo-name">Fitness Tracker</h1>

        <div class="auth-side-container">
            <h2 id="formTitle">Login</h2>

            <div id = "login-box">
                <!-- Login Form -->
                <form id="loginForm" th:action="@{/login/save}" method="post">
                    <label>Email</label><br>
                    <input type="email" name="email" required><br><br>

                    <label>Password</label><br>
                    <input type="password" name="password" required><br><br>

                    <button type="submit">Login</button>
                </form>
            </div>

            <div id = "register-box" class="hidden">
                <!-- Registration Form -->
                <form id="registerForm" th:action="@{/register/save}" method="post" th:object="${user}" >
                    <label>Email</label><br>
                    <input type="email" th:field="*{email}"  required/><br><br>

                    <label>Password</label><br>
                    <input id="password" type="password" th:field="*{password}"  required/><br><br>

                    <label>Confirm Password</label><br>
                    <input id="confirmPassword" type="password" name="confirmPassword" required><br><br>

                    <button type="submit" onclick="checkPassword()">Submit</button>

                </form>

            </div>
            <!-- Toggle Button -->
            <label class="switch">
                <input type="checkbox" id="toggleSwitch" onchange="toggleForm()">
                <span class="slider"></span>
                <span class="switch-label" id="switchLabel">Register</span>
            </label>


        </div>
</div>


</body>
</html>

