<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auth Page</title>
    <link th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/toggleSlider.css}">

</head>

<body>
<div class="form-container">

    <h1 id="logo-name"><a th:href="@{/welcome}" style="text-decoration: none; color: white ">Fitness Tracker</a></h1>

        <div class="auth-side-container">
            <h2 id="formTitle">Login</h2>

            <div id = "login-box">
                <!-- Login Form -->
                <form id="loginForm" th:action="@{/login/save}" method="post">
                    <label>Email</label><br>
                    <input type="email" name="email" required><br><br>

                    <label>Password</label><br>
                    <input type="password" name="password" required><br><br>

                    <button id="loginBtn" type="submit">

                        <div class="spinner-border text-light" role="status" style="position: relative;top: -3px;left: -3px;display: none">
                            <span class="sr-only"></span>
                        </div>
                        <div id="btnText">Login</div>
<!--                        Login-->
<!--                        <div class="spinner"></div>-->
                    </button>
                </form>
            </div>

            <div id = "register-box" class="hidden">
                <!-- Registration Form -->
                <form id="registerForm" th:action="@{/register/save}" method="post" th:object="${user}" >
                    <label>Email</label><br>
                    <input type="email" th:field="*{email}"  required/><br><br>

                    <label>Password</label><br>
                    <input id="password" type="password" th:field="*{password}"  required/><br><br>

                    <label id="confPass">Confirm Password</label><br>
                    <input id="confirmPassword" type="password" name="confirmPassword" required><br><br>

                    <button id="regisBtn" type="submit">
                        <div class="regisSpin spinner-border text-light" role="status" style="position: relative;top: -3px;left: -3px;display: none">
                            <span class="sr-only"></span>
                        </div>
                        <div id="btnTextSub">submit</div>
<!--                        Submit-->
<!--                        <div class="spinner"></div>-->
                    </button>

                </form>

            </div>
            <!-- Toggle Button -->
            <div id="change" style="display: flex;
                 justify-content: center;
                align-items: center;
                margin-top: 3px;">
                <div>Don't have an account ?</div>
                <div onclick="toggleForm()" style="cursor: pointer ;margin-left: 7px;color: #3498db"> Register here...</div>
            </div>


        </div>
</div>

<script th:src="@{/js/toggle.js}"></script>
</body>
</html>

