<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Previous Session</title>
    <link th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/session.css}">
</head>
<body>
    <div th:replace="~{fragment::navbar}"></div>

    <div  class="d-flex flex-column  text-white" style="min-height: calc(100vh - 88px - 65px); background-color: transparent">

        <form id="newSessionForm" th:action="@{/session/start}" method="POST">
            <button id="newSessionBtn" class="btn btn-outline-light sessionBtnAni" type="submit" >New Session</button>
        </form>

        <div id="main-content" class="container m-5 mx-auto text-light ">
            <h2>Sessions</h2><hr>

            <div class="">

                <!-- Cards div -->
                <div id="card-div" class="row row-cols-1 row-cols-md-3 g-4 w-66">

                    <div th:each="workout : ${allSessions}"
                         th:if="${workout.sessionName != null and workout.sessionName != ''}"
                         class="col" style="margin-bottom: 3vh"
                         th:attr="data-id=${workout.idString}">

                        <div class="card text-light mb-3 mt-4 h-100 px-3 py-1 border rounded border-dark"
                             style="max-width: 20rem; background-color: rgba(20, 20, 20, 0.95); cursor: pointer;">

                            <div class="card-head" style="font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 23px;">
                                <div th:text="${#temporals.format(workout.getStartTime().toLocalDate(), 'EEEE, dd MMM yyyy')}"
                                     class="card-header">Date</div>

                                <!-- DELETE FORM -->
                                <form class="delete-form" th:attr="data-id=${workout.idString}" onsubmit="return false;">
                                    <input type="hidden" name="id" th:value="${workout.idString}" />
                                    <button type="submit" class="delete btn "><img src="../img/delete.png" style="
    height: 44px;"></button>
                                </form>

                            </div>

                            <div class="card-body">
                                <h3 th:text="${workout.sessionName}" class="card-title">Light card title</h3>
                                <hr>
                                <p>Duration:</p>
                                <p th:text="${workout.duration}">Duration</p>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- ✅ Single global popup overlay -->
                <div id="popup_overlay_div"></div>




            </div>


        </div>


    </div>
        <!-- Footer -->
        <footer class="py-2" style="margin: 14px 0 ; text-align: center;
    width: 100%;">
            <p class="text-light small mb-0">&copy; 2025 Fitness Tracker Project - Prathamesh Lodekar</p>
        </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

    <script th:inline="javascript">
        const allSessions = [[${allSessions}]];
    </script>



    <script src="../js/showCardDetail.js" defer></script>
    <script src="../js/animation.js" defer></script>
    <script src="../js/sessionShow.js" defer></script>

</body>
</html>



