<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Previous Session</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="../css/session.css">
</head>
<body>
    <div th:replace="~{fragment::navbar}"></div>

    <div id="main-content" class="container mt-5 text-light ">
        <h2>Sessions</h2><hr>

        <div class="">
            <!--  cards div-->
            <div class="row row-cols-1 row-cols-md-3 g-4 w-66">
                <div th:each="workout : ${allSessions}" class="col" >

                    <!--card-->
                    <div class="card text-light mb-3 mt-4 h-100 px-3 py-1 border rounded border-dark"
                         style="max-width: 20rem; background-color: rgba(25, 9, 16, 0.7); cursor: pointer;"
                         th:attr="data-id=${workout.idString}"
                         >

                        <input type="hidden" th:value="${workout.id}" name="workout.id">

                        <div th:text="${#temporals.format(workout.getStartTime().toLocalDate(), 'EEEE, dd MMM yyyy')}"
                             th:class="card-header">Date</div>

                        <div class="card-body">
                            <h3 th:text="${workout.sessionName}" class="card-title">Light card title</h3>
                            <p>Duration:</p>
                            <p th:text="${workout.duration}">Duration</p>
                        </div>
                    </div>

                    <!-- Popup overlay -->
                    <div th:if="${workout.workouts != null}  and !${#lists.isEmpty(workout.workouts)} ">
                        <div th:attr="id='popup-' + ${workout.idString}" class="popup-overlay hidden" style="flex-direction: column">

                            <div class="popup-box " >

                            </div>
                                <button type="button" class="btn btn-danger" th:attr="onclick='hidePopup(\'' + ${workout.idString} + '\')'">Close</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

    <script th:inline="javascript">
        const allSessions = [[${allSessions}]];
    </script>



    <script src="../js/showCardDetail.js" defer></script>
    <script src="../js/animation.js" defer></script>
</body>
</html>



