<!DOCTYPE html >
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form th:action="@{/register/save}" method="post" th:object="${user}">
        <label>Username</label><br>
        <input type="text" th:field="*{username}" /><br><br>

        <label>Password</label><br>
        <input type="password" th:field="*{password}" /><br><br>

        <button type="submit">Submit</button>

    </form>
    <a th:href="@{/login}">Already have an account?</a>
</body>
</html>